html, body, #single-frame {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}
body {
  background-color: rgba(0, 0, 0, 0.5);
}

#video {
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
}
#input-file {
  display: none;
  opacity: 0;
}
#single-frame, #video {
  display: none;
}
html.streaming #video {
  display: block !important;
}
html.single #single-frame {
  display: block !important;
}

#image-cnt {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#single-frame {
  background-color: transparent;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

@-webkit-keyframes scanner {
  0% {
    bottom: 80%;
  }
  50% {
    bottom: 20%;
  }
  100% {
    bottom: 80%;
  }
}

@-moz-keyframes scanner {
  0% {
    bottom: 80%;
  }
  50% {
    bottom: 20%;
  }
  100% {
    bottom: 80%;
  }
}

@-o-keyframes scanner {
  0% {
    bottom: 80%;
  }
  50% {
    bottom: 20%;
  }
  100% {
    bottom: 80%;
  }
}

@keyframes scanner {
  0% {
    bottom: 80%;
  }
  50% {
    bottom: 20%;
  }
  100% {
    bottom: 80%;
  }
}

#scanner {
  position: absolute;
  width: 80%;
  height: 2px;
  left: 10%;
  right: 10%;
  background: #4CAF50;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-animation: scanner 3s infinite linear;
  -moz-animation: scanner 3s infinite linear;
  -o-animation: scanner 3s infinite linear;
  animation: scanner 3s infinite linear;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.4);
}
